# --------------------------------------------------- 
# Configuration file for the embedded jetty webserver
# (c) mendelson-e-commerce GmbH Berlin, Germany 2023
# 
# All variables defined herein will replace the
# properties/variables found in etc/jetty.xml. Please do not
# modify the file etc/jetty.xml directly unless you need 
# additional features for the embedded jetty HTTP server.
# All default values of the properties/variables found in 
# the file etc/jetty.xml could be overwritten using this file.
#
# The documentation for jetty and also the structure
# of jetty.xml could be found at
# https://www.eclipse.org/jetty/documentation.php
# --------------------------------------------------- 

## The port the HTTPS (TLS) connector listens on.
jetty.ssl.port=8443

## The port the unsecured HTTP connector listens on.
jetty.http.port=8080

## Connection limit for inbound connections
jetty.connectionlimit.maxConnections=1000

## Whether client certificate authentication is required.
jetty.sslContext.needClientAuth=false

## Whether client certificate authentication is desired, but not required.
jetty.sslContext.wantClientAuth=false

##Setup special security provider, these are optional settings. 
##Warning - enabling this might break the config, please be sure to know what you are doing here
#jetty.sslContext.provider=BCJSSE
#jetty.sslContext.keyStoreProvider=BC
#jetty.sslContext.trustStoreProvider=BC

##Setup an other keystore, this is optional. Warning - enabling this might break the config, 
##please be sure to know what you are doing here
#jetty.sslContext.keyStorePath=jetty10/etc/keystore.p12
#jetty.sslContext.keyStoreType=PKCS12
#jetty.sslContext.trustStorePath=jetty10/etc/keystore.p12
#jetty.sslContext.trustStoreType=PKCS12






